body{
    font-family: Helvetica, sans-serif;
    }

   

.karl, .kontakt{
   position: fixed;
   padding: 2px 6px;                 
   color: #111;                       
   background: rgba(255, 255, 255, 0.15); 
   backdrop-filter: blur(6px);          
   border-radius: 10px;                 
   font-weight: 500;
   z-index: 1000;
   box-shadow: 0 0 8px rgba(255,255,255,0.2);                     
   transition: all 0.2s ease; 

   a{
    color: black;
    text-decoration: none;  
    }
    }
.karl{left: 8px;}
.kontakt{right: 8px;}



.arbeiten, .legal{
   position: fixed;
   bottom: 20px;
   padding: 2px 6px;                 
   color: #111;                       
   background: rgba(255, 255, 255, 0.15); 
   backdrop-filter: blur(6px);          
   border-radius: 10px;                 
   font-weight: 500;
   z-index: 1000;
   box-shadow: 0 0 8px rgba(255,255,255,0.2);                     
   transition: all 0.2s ease; 

    a{
    color: black;
    text-decoration: none;  
    }
    }
.arbeiten{left: 8px;}
.legal{right: 8px;}



p{
    font-size: 13px;
    margin-left: 5px;
    }