.image-grid {
    --gap: 5px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}




body{
    font-family: Helvetica, sans-serif;
    }

.karl, .kontakt{
   position: fixed;

   a{
    color: black;
    text-decoration: none;  
    }
    }
.karl{left: 8px;}
.kontakt{right: 8px;}



.arbeiten, .legal{
   position: fixed;
   bottom: 20px;

    a{
    color: black;
    text-decoration: none;  
    }
    }
.arbeiten{left: 8px;}
.legal{right: 8px;}